<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
 <meta charset="UTF-8">
 {% block title %} <title>Control Panel</title> {% endblock %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/help_buttons.css') }}">
 {% block head_extra %}{% endblock %}
</head>
{% endblock %}
<body>
 <header class="main-heading">
  <div class="logo-wrapper"> 
   <p style="background-color:#00447f; display: flex; align-items: center;">
    <a href="/">
     <img alt="UR Medicine" class="ur-med" height="138" src="https://www.urmc.rochester.edu/MediaLibraries/WebServices/logo/UR-Medicine-logo.svg" width="342">
    </a>
    <b style="background-color:#00447f; color:gold; font-size:54px; text-align: center; text-indent:50px" class="dainty-title">Physical Medicine & Rehabilitation<br> Division of Research</b>
   </p>
  </div>
 </header>

 <main>
  {% block content %}{% endblock %}
 </main>

 {% block footer %}
 <footer>
  <p> 2025 URMC PM&R Research Tool. Created and designed by Thomas Rich.</p>
 </footer>
 {% endblock %}
 {% block scripts %}{% endblock %}
</body>
</html>
